<!-- <div class="container">
    <div class="row">
        <div class="col-lg-3">
<input type="text" placeholder="Item" [(ngModel)]="item">
</div>
<div class="col-lg-3">
    <input type="text" placeholder="Size" [(ngModel)]="size">
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="Currency" [(ngModel)]="currency">
        </div>
    <div class="col-lg-3">
<button type="button" class="btn btn-primary btn-sm">Submit</button>
</div>
</div>
<br>
<p>Item : {{item}}</p>
<p>Size : {{size}}</p>
<p>Currency : {{currency}}</p>
</div>
  -->


  <div class="container">
    <div class="row">
        <div class="col-lg-3">
<input type="text" placeholder="Item" [(ngModel)]="item">
</div>
<div class="col-lg-3">
    <input type="text" placeholder="Size" [(ngModel)]="size">
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="Currency" [(ngModel)]="currency">
        </div>
    <div class="col-lg-3">
<button type="button" class="btn btn-primary btn-sm">Submit</button>
</div>
</div>
<br>
<p>Item : {{item}}</p>
<p>Size : {{size}}</p>
<p>Currency : {{currency}}</p>
</div>
 