<!-- <h2>Search Filter Pipe</h2>

<input type="text" [(ngModel)]="animalName" placeholder="Please enter your animal name">
<h1>Animal list</h1>
<ul>
    <li *ngFor="let animal of animals | searchFilter : 'name' animalName">{{ animal }}</li>
</ul> -->


<div id="Main">
    <div id="container">
        <div class="row">
            <div class="col-sm-6">
<label>Email</label>
<input type="text">
</div>
<div class="col-sm-6">
    <div>Prabu</div>
    <button type="button" class="btn btn-primary">click</button>
</div>
</div> 
</div>